@import('../../variables.styl')

.input
    font-family: inherit
    width: 100%
    background: #fff
    color: #000
    font-size: 100%

    border: 1px solid $borderColor
    box-sizing: border-box
    padding: .5em .6em
    -webkit-appearance: none;

    &_type_textarea
        display: block
        height: 5em
