.event
    width: 250px
    height: 250px
    margin: 0 20px 20px 0
    padding: 20px
    box-sizing: border-box

    float: left

    border: 1px solid rgba(0,0,0,0.3)

    &_now
        width: 790px

        .event__title
            font-size: 300%

    &_next
        width: 520px

    &_outdated
        color: rgba(0,0,0,0.5)

@media screen and (max-width: 640px)
    .event
        width: 100%

        &_now
            outline: 5px solid #f3d52e
            border: 1px solid transparent

        &__title
            line-height: 1

@media screen and (min-width: 641px) and (max-width: 1024px)
    .event
        &_now
            width: auto
            outline: 5px solid #f3d52e
            border: 1px solid transparent

        &__title
            line-height: 1
