@import('../../variables.styl')

.feed
    width: $colWidth * 3 + $gapHorizontal * 4
    margin: 0 auto
    padding: $layoutGapVertical 0 0 $layoutGapHorizontal
    box-sizing: border-box

    &_with-event-full
        .event:not(.event_full)
            display: none

@media screen and (max-width: $minimalPageWidth)
    .feed
        width: auto
        padding: $layoutGapVertical $layoutGapHorizontal

@media screen and (min-width: $minimalPageWidth) and (max-width: $mediumPageWidth)
    .feed
        width: $colWidth * 2 + $gapHorizontal * 3
