.page
    margin: 0
    padding: 0 40px

    background: #f3d52e
    color: #000

    font: 13px/15px Arial, sans-serif
    min-width: 400px

.layout
    max-width: 830px
    margin: 0 auto

.clearfix:after
    display: table
    clear: both

    content: ''

@media screen and (max-width: 640px)
    .page
        padding: 0

    .layout
        width: 100%
