$layoutGapHorizontal = 30px
$layoutGapVertical = 30px
$colWidth = 220px
$rowHeight = 220px
$gapHorizontal = 30px
$gapVertical = 30px

$minimalPageWidth = $colWidth * 2 + $gapHorizontal + $layoutGapHorizontal * 2
$mediumPageWidth = $colWidth * 3 + $gapHorizontal * 2 + $layoutGapHorizontal * 2

$yellowColor = #f7df1e
$borderColor = rgba(0, 0, 0, .4)
