.header
    position: fixed
    z-index: 100
    top: 0
    left: 0
    right: 0

    height: 60px

    background: #fff
    border-bottom: 1px solid rgba(0, 0, 0, 0.5)

    &__title
        font-size: 300%
        line-height: 50px
        padding: 0 20px
        float: left

    &__add-event
        border: 1px solid black
        background: white
        font-size: 150%
        height: 30px
        margin: 10px
        box-sizing: border-box
        float: right

        &::before
            content: 'Добавить событие'

@media screen and (max-width: 640px)
    .header__add-event::before
        content: '+ событие'
