@import('../../variables.styl')

.header
    position: fixed
    z-index: 100
    top: 0
    left: 0
    right: 0

    height: 60px

    background: #f7df1e
    border-bottom: 1px solid rgba(0, 0, 0, 0.5)

    &__add-event
        font-size: 120%
        height: 30px
        margin-top: 14px
        margin-right: $layoutGapHorizontal
        box-sizing: border-box
        float: right

        &::before
            content: 'Добавить событие'

@media screen and (max-width: 540px)
    .header__add-event::before
        content: '+ событие'

@media screen and (max-width: 460px)
    .header__add-event::before
        content: '+'
