@import('../../variables.styl')

.form
    margin: 0 $gapHorizontal $gapVertical 0
    padding: 20px

    background: #fff
    box-shadow: inset 0 0 0 1px $borderColor

    .input
        margin-bottom: .5em
